{% extends "base.html" %}
{% block content %}
<!-- allows program to collect information typed in to append to database, collected in auth.py-->
<form method = "POST">
    <br></br>
    <h3 align="center">Sign Up</h3>
    <div class = 'form group'>
        <label for = 'username'>Username</label>
        <input 
        type = 'text' 
        class="form-control" 
        id="username" 
        name="username" 
        placeholder="Enter Username" 
        />
    </div>
    <div class = 'form group'>
        <label for = 'password'>Password</label>
        <input 
        type = 'password' 
        class="form-control" 
        id="password" 
        name="password" 
        placeholder="Enter Password" 
        />
    </div>
    <div class = 'form group'>
        <label for = 'passwordconf'>Password Confirm</label>
        <input 
        type = 'password' 
        class="form-control" 
        id="passwordconf" 
        name="passwordconf" 
        placeholder="Re-enter Password" 
        />
    </div>
    <br />
    <button type="submit" class = 'btn btn-primary'>Create Account</button>
</form>
{% endblock %}